{% extends 'backend/backend.html' %}
{% block page_content %}
    <div class="col-md-10 col-md-offset-1">
        <h3>已创建的分类</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                {% for category_obj in category_queryset %}
                    <p style="font-size: 16px; margin: 8px 0;">
                        <a href="/{{ username }}/category/{{ category_obj.name }}/">
                            {{ category_obj.name }}({{ category_obj.count_num }})
                        </a>
                    </p>
                {% empty %}
                    <p>暂无分类</p>
                {% endfor %}
            </div>
        </div>

        <h3>添加新的分类</h3>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="category" class="form-control" placeholder="请输入分类名称">
            </div>
            <input type="submit" value="添加" class="btn btn-primary">
        </form>
    </div>
{% endblock %}
